NEXT_PUBLIC_SITE_PASSWORD_HASH=bedcb870eea56158153fbfadd2a9471c3bdfc6a4362c8ed75a1104501a73143e

# GitHub Pages project site example:
# GITHUB_PAGES=true
# GITHUB_PAGES_BASE_PATH=/your-repository-name
